<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.smartlink.workflow.mapper.TestFormConfigMapper">

    <update id="deletedFromConfig" >
        delete from `test_form_config`
        where form_id in
        <foreach collection="list" item="val" separator="," open="(" close=")">
            #{val}
        </foreach>
    </update>
</mapper>
